@model List<LatestPosts>
@{
    Layout = null;
}

<div class="single-blog-widget mb-50">
    <h3>latest post</h3>
    @foreach (LatestPosts lp in Model)
        {
            <div class="single-post mb-30">
                <div class="single-post-img">
                    <a href="blog-details.html">
                        <img src="~/assets/img/post/@lp.Image" alt="post">
                        <div class="blog-hover">
                            <i class="fa fa-link"></i>
                        </div>
                    </a>
                </div>
                <div class="single-post-content">
                    <h4><a href="blog-details.html">@lp.Title</a></h4>
                    <p>@lp.Description</p>
                </div>
            </div>
        }
</div>

