@model List<Categories>
@{
    Layout = null;
}

<div class="single-blog-widget mb-50">
    <h3>categories</h3>
    <ul>
        @foreach (Categories c in Model)
        {
            <li><a asp-controller="Course" asp-action="Index">@c.Name (@c.Count)</a></li>
        }
    </ul>
</div>